// black
$primary-black: #000000;
$secondary-black: #333333;
$third-black: #4e4e4e;
$fourth-black: #777777;

// grey
$primary-grey: #8a8d93;
$secondary-grey: rgba(94, 86, 105, 0.68);
$third-grey: rgba(94, 86, 105, 0.22);

// white
$primary-white: #ffffff;

// red
$primary-red: #ff4c51;

// purple
$primary-purple: #9155fd;
$secondary-purple: #9155fd;

// px
$content-width: 800px;
$sidebar-width: 220px;